html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/* interface */
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Bebas Neue', cursive;
}

.time {
    position:absolute;
    top: 10%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 4em;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 4em;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

.restart:hover {
    color: #fff59e;
}

/**
 * Controls
 */
 .controls
 {
     position: absolute;
     bottom: 10%;
     left: 0;
     width: 100%;
 }
 
 .controls .raw
 {
     display: flex;
     justify-content: center;
 }
 
 .controls .key
 {
     width: 40px;
     height: 40px;
     margin: 4px;
     border: 2px solid #ffffff;
     background: #ffffff44;
 }
 
 .controls .key.large
 {
     width: 144px;
 }
 
 .controls .key.active
 {
     background: #e43e2899;
 }

 .boostMeter {
    width:200px;
    border:1px solid white;
    height:50px;
    position:absolute;
    top:20px;
    right:20px;
    padding:4px;
 }

 .boostValue {
    background-color:salmon;
    width:8px;
    height:100%;
    border:1px solid mediumvioletred;
 }